// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.toasts-container {
  top: 74px;
  right: 0;
  z-index: $zindex-modal + 1;

  position: absolute !important;
}

.bg-zona-dinamo {
  background: #00509f !important;
}

// Additions to Bootstrap classes and overwrites

.table-middle-aligned-cells {
  & > tbody > tr {
    & > td, & > th {
      vertical-align: middle;
    }
  }
}

.game-result-col.text-left {
  &:before {
    content: ":";
    text-align: center;
    position: absolute;
    left: -0.5em;
    width: 1em;
  }
}

.game-team-logo {
  max-width: 100%;
  height: 50px;
  object-fit: contain;
  margin: auto !important;
}

@include media-breakpoint-up(lg) {
  .game-team-logo {
    height: 40px;
  }
}

// Utilities:

@import "utilities/borders";

.navbar-brand > img {
  max-width: 180px;
  contain: content;
}
@include media-breakpoint-up(lg) {
  .navbar-brand > img {
    max-width: 240px;
  }
}