// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.toasts-container {
  top: 74px;
  right: 0;
  z-index: $zindex-modal + 1;

  position: absolute !important;
}

.bg-zona-dinamo {
  background: #00509f !important;
}